*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
    list-style: none;
    text-decoration: none;  
    
}
body{
    
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(120deg,#0097e6,#f5f6fa);

    

} 
=======
=======
    text-decoration: none;
>>>>>>> cb8fecff56145937d17d24724b77397fb54d8eb6
  }
  
  body{
    background-color:darkcyan;
    min-height: 100vh;
  }
  
>>>>>>> ca42eecc918bf86263cd662b2833df279fb218dc

/* STARTEN AV SIDEBAR */
 .wrapper{
    display:flex;
    position: absolute;
    left: 000px;
    top: 0px;
    
}

.wrapper .sidebar{
position: fixed;
width: 200px;
height: 100vh;
background: #292F36;
padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper .sidebar ul li{
border-bottom: 2px solid rgba(0,0,0,0.05) ;
padding: 35px;
border-top: 3px solid rgba(225,225,225,0.05);
font-size: 17px;

}
.wrapper .sidebar a{
    color: #fff;
     display: block;
}
.wrapper .sidebar ul li a .fas .far .fal{
    width: 45px;
    
}
.wrapper .sidebar ul li:hover{
    background: rgb(42, 42, 43);
}
.mainContent .header{
    width: 20px;
} 
  
/* SLUTTEN AV SIDEBAR */

<<<<<<< HEAD
.tdl{
    position: fixed;
    left: 400px;
    margin: 50px;
    left: 50vh;
    border: 1px solid black;
    background-color:navy;
    color: white;
    
}
.tdl h1{
    font-size: 4rem;
    text-decoration: underline;
    
}
.strike {
    text-decoration: line-through;
  }

#todo-list{
width: 100%;
background-color: rgb(255,255,255,0.5);
padding: 18px;
margin: 1px;
overflow: hidden;
    


}
=======
/* STARTEN AV TO DO LIST */

  
  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
    position: relative;
    left: 200px;
    top: 100px;
  }
  
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
  }
  
  h3{
    margin: 10px 0;
  }
  
  .task{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
  }
  
  .task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comp .task{
    background: rgba(0,0,0,.5);
    color: #fff;
  }
  
>>>>>>> ca42eecc918bf86263cd662b2833df279fb218dc
