*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    
}
body{
    
    position: absolute;
    min-height: 100vh;
    background-color: red;

} 

/* STARTEN AV SIDEBAR */
.wrapper{
    display:flex;
    position: relative;
}

.wrapper .sidebar{
position: fixed;
width: 200px;
height: 100%;
background: #292F36;
padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper .sidebar ul li{
border-bottom: 2px solid rgba(0,0,0,0.05) ;
padding: 35px;
border-top: 3px solid rgba(225,225,225,0.05);
font-size: 17px;

}
.wrapper .sidebar a{
    color: #fff;
     display: block;
}
.wrapper .sidebar ul li a .fas .far .fal{
    width: 45px;
    
}
.wrapper .sidebar ul li:hover{
    background: rgb(42, 42, 43);
}
.mainContent .header{
    width: 20px;
}
 
/* SLUTTEN AV SIDEBAR */

/* STARTEN AV TO DO LIST */
.tdl{
    position: fixed;
    left: 400px;
    margin: 50px;
    left: 50vh;
    border: 1px solid black;
}
.tdl h1{
    font-size: 4rem;
    text-decoration: underline;
}
.strike {
    text-decoration: line-through;
  }