body{
  background-image: linear-gradient(to right, #47b39d , #eb6b56);
  position: relative;
}

.dropbtn {
  background-color: whitesmoke;
  color: #47b39d;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  border: none;
    background-color: snow;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
    
}

.dropdown-content {
  font-family: sans-serif;
  display: none;
  position: absolute;
  background-color: snow;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #47b39d;
  padding: 17px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f6f6f6;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: snow;
}

#cirkle{
  position: relative;
  margin-left: 390px;
  margin-top: 70px;
 
}