* {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fffffc;
}

body,
html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% auto auto auto 4%;
    grid-template-areas:
        "sidebar"
        "sect1"
        "sect2"
        "sect3"
        "footer";
}

header {
    grid-area: header;
    background-color: #fffffc;
}

nav {
    grid-area: sidebar;
    background-color: #494949;
    margin-right: 6px;
    z-index: 1;

}

section.section-users {
    grid-area: sect1;
    margin: 6px;

}

section.section-categories {
    grid-area: sect2;
    margin: 6px;


}

section.section-overview {
    grid-area: sect3;
    margin: 6px;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 800px) {

    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 30% 30% 30%;
        grid-template-rows: 4% auto 4%;
        grid-template-areas:
            "sidebar header header header"
            "sidebar sect1 sect2 sect3"
            "sidebar footer footer footer";
    }

    nav {
        padding-top: 70%;
    }

    section.section-overview {
        grid-area: sect3;
        margin: 6px 12px 6px 6px;
    }
}

/* For styling each induvidual section */

section {
    background: #fff;
    border: 2px solid #fffffc;
    box-shadow: 0px 16px 24px rgba(6, 12, 22, .25);
    border-radius: 5px;
}

section h3 {
    padding: 20px;
    font-size: 26px;
    text-align: center;
}

/* Registered Users */

/* .list-section ul li {
    border: 1px solid #494949;
    padding: 10px;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 1px 1px rgba(9, 30, 66, .25);
    border-radius: 3px;
} */

.list-section ul li {}

ul {
    margin: 0;
    padding: 10px;
    background: #fff;
    list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;

    list-style-type: none;
    background: #eee;
    font-size: 16px;
}



/*  Styling for the add new member and category "buttons" */

button {
    margin: 0;
}

.create-new {
    padding: 10px;
    vertical-align: middle;
}


.fa-plus-circle {
    cursor: pointer;
    border: none;
    color: rgb(98, 255, 50);
    text-decoration: none;
    font-size: 30px;
}

.fa-plus-circle span {
    vertical-align: middle;
    color: #494949;
    margin-left: 12px;
    font-size: 14px;
}