* {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fffffc;
}

body,
html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% auto auto auto 4%;
    grid-template-areas:
        "sidebar"
        "sect1"
        "sect2"
        "sect3"
        "footer";
}

header {
    grid-area: header;
    background-color: #fffffc;
}

nav {
    grid-area: sidebar;
    background-color: #494949;
    z-index: 1;

}

section.section-users {
    grid-area: sect1;
    margin: 4% 6%;

}

section.section-categories {
    grid-area: sect2;
    margin: 4% 6%;


}

section.section-overview {
    grid-area: sect3;
    margin: 4% 6%;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 800px) {

    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 30% 30% 30%;
        grid-template-rows: 4% auto 4%;
        grid-template-areas:
            "sidebar header header header"
            "sidebar sect1 sect2 sect3"
            "sidebar footer footer footer";
    }

    nav {
        padding-top: 70%;
        margin-right: 2%;
    }

    section.section-overview {
        grid-area: sect3;
        margin-right: 8%;
    }
}

/* For styling each induvidual section */
section {
    background: #fff;
    box-shadow: 0px 16px 24px rgba(6, 12, 22, .2);
    border-radius: 4px;
}


section h3 {
    padding: 22px;
    font-size: 20px;
    text-align: center;
}

.section-users .box-header,
.section-categories .box-header,
.section-overview .box-header {
    background-color: #41ead4;
    color: #fffffc;
    border-radius: 4px 4px 0 0;
}

.section-categories .box-header {
    background-color: #ff7d00;
}

.section-overview .box-header {
    background-color: #ff206e;
}

/* Registered Users and Categories */
.list-section ul li,
.list-section1 ul li,
.list-section-overview ul li {
    padding: 10px 12px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* First and last name of members */
.list-section ul li h4 {
    display: inline;
    padding-right: 5px;
    font-size: 16px;
}

/* Email of members */
.list-section ul li p {
    padding-top: 4px;
    font-size: 13px;
    color: #494949;
}

/* Area around list items - expands /w more list items. Keep BG-color same as color of section */
ul {
    margin: 0;
    padding: 10px;
    background: #fffffc;
    list-style: none;
}

ul li {
    margin: 10px;
    list-style: none;
    background: #eee;
    font-size: 16px;
}

/* Color of the top-borders in members area  */
.list-section ul li {
    border-top: 5px solid #41ead4;
}

/* Blir fargesatt av bruker når det legges inn kategori */
.list-section1 ul li {
    border: 1px solid;
    border-left: 22px solid;
    margin-top: 14px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
}

/* Overview section  */
.list-section-overview ul li {
    border-top: 5px solid yellow;
}

#ovList li {
    font-size: 14px;
}

#ovList li h1 {
    font-size: 18px;
}


/*  Add new member and category buttons */
button {
    margin-left: 10px;
}

.create-new {
    padding: 10px;
    vertical-align: middle;
}


.fa-plus-circle {
    cursor: pointer;
    border: none;
    color: rgb(98, 255, 50);
    text-decoration: none;
    font-size: 28px;
}

.fa-plus-circle span {
    vertical-align: middle;
    color: #494949;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}