* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.modal {
    /* Hide modadl content by default */
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    /*  Cover page */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Close button for "add member" modal */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Close button for "add category" modal */
.close-category-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-category-modal:hover,
.close-category-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*  Styling of the content box */

.modal-content h3 {
    padding: 40px 0 10px 0;
    text-align: center;
    font-size: 28px;
    color: #494949;
}

.modal-content {
    background-color: #fffffc;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.modal-content .form {
    padding: 20px 40px;
}

.modal-content .form-control {
    margin-bottom: 10px;
    padding-bottom: 12px;
    position: relative;
}

.modal-content input {
    border: 2px solid #E5E4E4;
    background-color: #E5E4E4;
    border-radius: 2px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 14px;
    width: 100%;
}

.modal-content input:focus {
    outline: 0;
    border-color: #B0AFAF;
}

/* Color picker style */
.form-control #category-color {
    width: 20%;
}


/* Button */

.modal-content .addBtn {
    background-color: #EF476F;
    border: 2px solid #EF476F;
    border-radius: 2px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    width: 100%;
    color: #fffffc;
    display: block;
    margin: 35px 0 25px 0;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

.modal-content .addBtn:hover {
    background-color: #fffffc;
    color: #EF476F;
}