* {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fffffc;
}

body,
html {
    box-sizing: border-box;
    height: 100vh;
}


body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% auto auto auto 4%;
    grid-template-areas:
        "sidebar"
        "sect1"
        "sect2"
        "sect3"
        "footer";
}
.list-item {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    break-after: avoid;
}
header {
    grid-area: header;
    background-color: #fffffc;
}

nav {
    grid-area: sidebar;
    background-color: #494949;
    z-index: 1;

}

section.section-not-started {
    grid-area: sect1;
    margin: 4% 6%;

}

section.section-started {
    grid-area: sect2;
    margin: 4% 6%;


}

section.section-finished {
    grid-area: sect3;
    margin: 4% 6%;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 800px) {

    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 30% 30% 30%;
        grid-template-rows: 4% auto 4%;
        grid-template-areas:
            "sidebar header header header"
            "sidebar sect1 sect2 sect3"
            "sidebar footer footer footer";
    }

    nav {
        padding-top: 70%;
        margin-right: 2%;
    }

    section.section-overview {
        grid-area: sect3;
        margin-right: 8%;
    }
}

/* For styling each induvidual section */
section {
    background: #fff;
    box-shadow: 0px 16px 24px rgba(6, 12, 22, .2);
    border-radius: 4px;
}


section h3 {
    padding: 22px;
    font-size: 20px;
    text-align: center;
}


.section-started .box-header,
.section-finished .box-header {
    background-color: #3a0ca3;
    color: #fffffc;
    border-radius: 4px 4px 0 0;
}

.section-started .box-header {
    background-color: #4361ee;
}

.section-finished .box-header {
    background-color: #4cc9f0;
}

#all-task-header{
    background-color: #788bff;
    color: #fff;
    border-radius: 4px 4px 0 0;
    
}

/* Registered Users and Categories */
.list-section ul li,
.list-started ul li,
.list-finished ul li {
    padding: 10px 12px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


button {
    margin-left: 10px;
}

.create-new {
    padding: 10px;
    vertical-align: middle;
}


.fa-plus-circle {
    cursor: pointer;
    border: none;
    color: #ff499e;
    text-decoration: none;
    font-size: 28px;
}

.fa-plus-circle span {
    vertical-align: middle;
    color: #494949;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}



.task-wrapper {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid #568984;
    border-bottom: 2px solid #568984;
    background-color: #7e7683;
    margin-top: 20px;
    padding: 10px;
    max-width: 400px;
}
.buttons {
    background-color: #EF476F;
    border: 2px solid #EF476F;
    border-radius: 2px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    width: 60%;
    color: #fffffc;
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

