/* Import font  */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff
}

body {
    width: 80vw;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 3.2em;
    margin: 8vh 0;
}

h3 {
    font-size: 1.6em;
    padding: 3vh 10px 4vh 10px;
}

/* Divides the content to three sections */
#container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1; */
    grid-column-gap: 2em;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    box-sizing: border-box;

}

.section {
    position: relative;
    background: #fff;
    border: 1px solid #999999;
    box-shadow: 1px 1px rgba(9, 30, 66, .25);
    border-radius: 4px;
    padding: 14px;
}

.addBtn {
    cursor: pointer;
    background-color: rgba(65, 206, 68, 0.7);
    border: none;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
}

.list-section ul li {
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 1px 1px rgba(9, 30, 66, .25);
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
    background: #fff;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: rgba(146, 206, 255, 0.74);
}

ul li.checked {
    background: teal;
    color: white;
    text-decoration: line-through;
}

.create-new {
    bottom: 0px;
    padding: 20px 10px 10px 0px;
}

input,
input[type='text'] {
    padding: 12px;
    border: 1px solid #999;
    font-size: 15px;
    box-shadow: 1px 1px rgba(9, 30, 66, .25);
    border-radius: 3px;
}

input,
input[type='text']::placeholder {
    color: gray;
}


ul li.active {
    background: red;
}

.fas {
    cursor: pointer;
    border: none;
    color: rgb(98, 255, 50);
    margin-left: 10px;
    text-decoration: none;
    font-size: 44px;
}

.fas span {
    vertical-align: middle;
    color: rgb(78, 78, 78);
    margin-left: 15px;
    font-size: 16px;
}